* {
    margin     : 0;
    padding    : 0;
}

.font-surat{
    font-family: "Times New Roman", Times, serif;
    font-size: 0.9em;
}

.gambar-hover {
    z-index: 0 !important;
}

.gambar-hover:hover {
    z-index         : 100 !important;
    background-color: blueviolet;
}
